@font-face {
  font-family: 'Moontime';
  src: url(fonts/MoonTime-Regular.ttf);
}
@font-face {
  font-family: 'Playfair';
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
    background-color: var(--bkg-color);
    transition: background-color 1s ease, color 2s ease;
}

.hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  
}

.sidebar {
  position: absolute;
  background-color: var(--sidebar-color);
  height: 100%;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 15px;

  transform: translateX(-100%);
  transition: transform 560ms;
}


.sidebar.active {
  transform: translateX(0%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-left: 0px;

  transition: padding-left 560ms;
}
.main.active {
  padding-left: 300px;
}

.page {
  width: 80%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Non essential */
h2 {
  margin-bottom: 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: var(--text-color);
}

.sidebar > div {
  padding: 20px;
  cursor: pointer;
  transition: transform 140ms;

}
.sidebar > div:hover {
  transform: scale(1.2);
}

.content {
  border-radius: 10px;
  background-color: var(--content-color);
  padding: 20px;
  flex-grow: 1;

  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  margin-bottom: 20px;

  position: relative;
}


:root{
--text-color:#66422D ;
--text2-color:#412a1c;
--content-color:#ECC4A0;
--sidebar-color: #ecc4a0;
--bkg-color: #C7976F;
--cont-color:#b26e4b ;
--cont2-color:#ECC4A0;
}
.dark-mode {
--text-color: #EBD2BC;
--text2-color:#ebd2bc;
--content-color: #66422d;
--sidebar-color: #66422d;
--bkg-color: #966045;
--cont-color: #66422d;
--cont2-color:#966045;
}
.space {

transform: translateY(40%);
opacity: 0;
transition: all 900ms;
}
.space.active {
transform: translateY(0px);
opacity: 1;
}

.checkbox{
  display: none;
}

.switch-btn{
  width: 90px;
  height: 45px;
  background-color: var(--text-color);
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: background-color 150ms;
}

.switch-btn:after,
.switch-btn:before{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.18,0.89,0.35,1.15);
}
.switch-btn:before{
  left: -50%;
  content: " ";
  background-color: var(--content-color);
}
.switch-btn:after{
  right:5px;
  content: " ";
  background-color: var(--content-color) ;

}
.checkbox:checked + .switch-btn:before{
  left: 5px;
}
.checkbox:checked + .switch-btn:after{
  right: -50%;
}
.checkbox:checked + .switch-btn{
  background-color: var(--text-color);
}
.square{
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: var(--cont-color);
  border-radius: 10px;
}
P1{
  position: absolute;
  font-family: Playfair;
  padding-left: 20%;
  margin-top: 5%;
  font-size: 25px;
  color: var(--text2-color);
  transform: translateX(20%);
}
p{
  font-family: Moontime;
  color: var(--text2-color);
  font-size: 200px;
  padding-left: 20%;
  padding-top: 10%;
}
.animated_text{
  position: absolute;
  font-family: Playfair;
  padding-left: 30%;
  margin-top: 5%;
  font-size: 20px;
  color: var(--text2-color);
}


@media only screen and (max-width:768px)
{
.sidebar {
  position: absolute;
  background-color: var(--sidebar-color);
  height: 100%;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 15px;
  transform: translateX(-100%);
  transition: transform 560ms;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 70%;
  color: var(--text-color);
}
.main.active {
  padding-left: 30%;
}
P1{
  font-family: Playfair;
  margin-top: 5%;
  font-size: 17px;
  color: var(--text2-color);
p{
  position:absolute;
  font-family: Moontime;
  color: var(--text2-color);
  font-size: 80px;
  padding-top: 30%;
}
.animated_text{
  position: absolute;
  font-family: Playfair;
  padding-left: 10%;
  margin-top: 5%;
  font-size: 15px;
  color: var(--text2-color);
}
}
