.aboutmebody{
  height: 40%;
  width: 100%;
  padding: 2%;
  display: flex;
  font-family: Kalam;
  overflow: hidden;
  font-size: 110%;
}

#aboutline{
  width: 20%;
  float: right;
  margin: 10px 10px 10px 10px;
  font-size:200% ;
  font-family: Kalam-bold;
  color: var(--text2-color);
}
