@font-face {
  font-family: 'Moontime';
  src: url(fonts/MoonTime-Regular.ttf);
}
@font-face {
  font-family: 'Playfair';
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
    background-color: var(--bkg-color);
    transition: background-color 1s ease, color 2s ease;
}
a{
  text-decoration: none;
  color:var(--text-color) ;
}
.hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  
}

.sidebar {
  position: absolute;
  background-color: var(--sidebar-color);
  height: 100%;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 15px;

  transform: translateX(-100%);
  transition: transform 560ms;
}


.sidebar.active {
  transform: translateX(0%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-left: 0px;

  transition: padding-left 560ms;
}
.main.active {
  padding-left: 300px;
}

.page {
  width: 80%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Non essential */
h2 {
  margin-bottom: 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: var(--text-color);
}

.sidebar > div {
  padding: 20px;
  cursor: pointer;
  transition: transform 140ms;

}
.sidebar > div:hover {
  transform: scale(1.2);
}

.content {
  border-radius: 10px;
  background-color: var(--content-color);
  padding: 20px;
  flex-grow: 1;

  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  margin-bottom: 20px;

  position: relative;
}


:root{
--text-color:#66422D ;
--text2-color:#412a1c;
--content-color:#ECC4A0;
--sidebar-color: #ecc4a0;
--bkg-color: #C7976F;
--cont-color:#b26e4b ;
--cont2-color:#ECC4A0;
--cont3-color:#b26e4b;
--anim-color:#C7976F;
}
.dark-mode {
--text-color: #EBD2BC;
--text2-color:#ebd2bc;
--content-color: #66422d;
--sidebar-color: #66422d;
--bkg-color: #966045;
--cont-color: #66422d;
--cont2-color:#966045;
--cont3-color:#966045;
--anim-color:#412a1c;
}
.space {

transform: translateY(40%);
opacity: 0;
transition: all 900ms;
}
.space.active {
transform: translateY(0px);
opacity: 1;
}

.checkbox{
  display: none;
}

.switch-btn{
  width: 90px;
  height: 45px;
  background-color: var(--text-color);
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: background-color 150ms;
}

.switch-btn:after,
.switch-btn:before{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.18,0.89,0.35,1.15);
}
.switch-btn:before{
  left: -50%;
  content: " ";
  background-color: var(--content-color);
}
.switch-btn:after{
  right:5px;
  content: " ";
  background-color: var(--content-color) ;

}
.checkbox:checked + .switch-btn:before{
  left: 5px;
}
.checkbox:checked + .switch-btn:after{
  right: -50%;
}
.checkbox:checked + .switch-btn{
  background-color: var(--text-color);
}
.square{
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: var(--cont-color);
  border-radius: 10px;
}
.para{
  position: absolute;
  font-family: Playfair;
  padding-left: 19%;
  margin-top: 5%;
  font-size: 22px;
  color: var(--text2-color);
  transform: translateX(20%);
}
.para2{
  font-family: Moontime;
  color: var(--text2-color);
  font-size: 200px;
  padding-left: 20%;
  padding-top: 10%;
}
.text{
  position: absolute;
  font-family: Playfair;
  padding-left: 30%;
  margin-top: 5%;
  font-size: 20px;
  color: var(--text2-color);
}

#education{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  padding:5%;
}

.card1{
  position: relative;
  width: 40%;
  height: 90%;
  border-radius: 10px;
  background-color: var(--cont3-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
  padding-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.animated_card1{
  position: absolute;
  width: 25%;
  height: 10%;
  margin-left: 4.5%;
  margin-top: 28%;
  border-radius: 10px;
  background-color: var(--anim-color);
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: 1s;
}



.card2{
  position: relative;
    width: 40%;
    height: 90%;
    margin-left: 25%;
    border-radius: 10px;
    background-color: var(--cont3-color);
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
  padding-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.animated_card2{
position: absolute;
width: 25%;
height: 10%;
margin-left: 61%;
margin-top: 28%;
border-radius: 10px;
background-color: var(--anim-color);
display: inline-block;
box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
transition: 1s;
}

.red{
  position: absolute;
  width: 25%;
  height: 90%;
  margin-left: 4.5%;
  margin-top: -4%;
  border-radius: 10px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: 1s;
}

.red2{
  position: absolute;
width: 25%;
height: 90%;
margin-left: 61%;
margin-top: -4%;
border-radius: 10px;
display: inline-block;
box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
transition: 1s;
}


.hide{
  display: none;
}
.inner_text,.inner_text1,.inner_text2{
  position: relative;
  margin-top: 5%;
  margin-left:22%;
  font-family: Playfair;
  color: var(--text2-color);
  transition: 3s;
}
.inner_text1,.inner_text2{
  display: none;
  font-family: monospace;
}

.show,.show1{
  display:block;
}

.inner_text:hover{
  font-size: 120%;
  margin-left: 15%;
  margin-top:4% ;
}

.codetext1{
  color: var(--text2-color);
  font-family: monospace;
  font-size: 120%;
}

.codetext2{
  color: var(--text2-color);
  font-family: monospace;
  font-size: 120%;
}

.tech, .techbox1, .techbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.techbox{
  width: 15%;
  height: 20%;
  background-color: var(--cont3-color);
  border-radius: 10px;
 margin-left: 7.5%;
 margin-right: 7.5%;
  margin-bottom: -10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}
.fas{
  color: #412a1c;
}
.icons{
  position: absolute;
  
}
.techbox1{

    width: 100%;
    height: 40%;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--anim-color);
    margin-top:50%;
    font-family: Playfair;
    font-size: 80%;
    color: var(--text2-color);
}


p{
  position: absolute;
  font-family: Moontime;
  font-size: 500%;
  color: var(--text2-color);
  margin-left: 35%;
}


@media only screen and (max-width:768px)
{
.sidebar {
  position: absolute;
  background-color: var(--sidebar-color);
  height: 100%;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 15px;
  transform: translateX(-100%);
  transition: transform 560ms;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 70%;
  color: var(--text-color);
}
.main.active {
  padding-left: 30%;
}
.Square {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
  background-color: var(--cont-color);
  border-radius: 10px;
 }
.para {  
 font-family:Playfair;
 font-size:17px;
 color: var(--text2-color);
 margin-right: 10%;
 margin-left:5%;
 padding-top:10%;
 padding-right:20%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.para2 {
font-family:Moontime;
 font-size:95px;
 color: var(--text2-color);
 margin-right: 10%;
 margin-left:10%;
 padding-left:15%;
 padding-top:60%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.text{
position: absolute;
font-family: Playfair;
padding-left: 30%;
margin-top: 5%;
font-size: 15px;
color: var(--text2-color);
}
#education{
  position: relative;
  height: 100%;
  width: 100%;
  padding-left:10%;
  padding-right:10%;
  display: inline-block;
}
.card1{
  position: relative;
  width: 80%;
  height: 45%;
  border-radius: 10px;
  background-color: var(--cont3-color);
  display:flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:10%;
}
.card2{
  position: relative;
    width: 80%;
    height: 45%;
    margin-top: 15%;
    border-radius: 10px;
    background-color: var(--cont3-color);
   display:flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
    margin-right:10%;
    margin-left:10%;
}
.animated_card1{
  position: relative;
  width: 80%;
  height: 10%;
  margin-left:10%;
  margin-top: -18%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: 1s;
}
    .red{
    position: relative;
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-top:-125%;
    margin-bottom:0%;
    border-radius: 10px;
     flex-direction: column;
  justify-content: center;
  align-items: center;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: 1s;
    }
  
.animated_card2{
  position: relative;
  width: 80%;
  height: 10%;
  margin-left: 10%;
  margin-top:-18%;
  border-radius: 10px;
  display:flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: 1s;
  }

  .red2{
    position: relative;
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-top:-125%;
    margin-bottom:0%;
    border-radius: 10px;
    
   flex-direction: column;
  justify-content: center;
  align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: 1s;
    }
  .inner_text:hover{
  font-size: 70%;
 margin-left:0;
}
  .inner_text{
    font-size:70%;
  position: relative;
  margin-left:0%;
  font-family: Playfair;
  color: var(--text2-color);
  transition: 200ms;
}
.codetext1{
  color: var(--text2-color);
  font-family: monospace;
  font-size: 70%;
}

.codetext2{
  color: var(--text2-color);
  font-family: monospace;
  font-size: 70%;
}
.inner_text1,.inner_text2{
  position: relative;
  margin-top: 0%;
  margin-left:5%;
  color: var(--text2-color);
  transition: 3s;
display: none;
  font-size:71%;
  font-family: monospace;
}
.inner_text1{
  margin-left:10%;
  
}

.show,.show1{
  display:block;
}
  .tech, .techbox1, .techbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.techbox{
  width: 35%;
  height: 15%;
  background-color: var(--cont3-color);
  border-radius: 10px;
 margin-left: 7.5%;
 margin-right: 7.5%;
  margin-bottom: -40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}
.icons{
  position: absolute;
  
}
.techbox1{

    width: 100%;
    height: 40%;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--anim-color);
    margin-top:65%;
    font-family: Playfair;
    font-size: 70%;
    color: var(--text2-color);
}


p{
  position: realtive;
  font-family: Moontime;
  font-size: 500%;
  color: var(--text2-color);
  margin-left: 0%;
  margin-top:-10%;
}
}
